
/*как найти нас (footer)*/
.cntainer-footer{
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    
  }
  @media screen and (min-width: 1200px) {
  display: flex;

  }
}


.footer {
    background-color: var(--background-color);
  
    
  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  }
  .footer__blok {
    margin-bottom: 60px;
    text-align: center;

    @media screen   and (max-width: 450px) and (max-width: 767px) {
      display: flex;
      margin-bottom: 60px;
      margin-right: 0;
      flex-wrap: wrap;
     
    
    
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      text-align: center;
      width: fit-content;
      margin-left: 61px;
      
    }
   
    @media screen and (min-width: 1200px) {
      margin-right: 70px;
     
    }
  }
  

  
  
  

  .footer__container {
   
    
   @media screen   and (min-width: 450px) and (max-width: 767px) {
    
    
    
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    
    
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
  }
  

  
  .footer__social {
    
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: 165px;
      
      
    }
  
    @media screen and (min-width: 1200px) {
      display: inline-block;
      padding: 12px;
      
    }
  }
  
  .footer__paragraph {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-color);
    margin-bottom: 20px;
    @media screen   and (min-width: 450px) and (max-width: 767px) {
    
      text-align: center;
    
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      text-align: center;
      
      
    }
  }

  .footer__list-social {
    display: flex;
    justify-content: center;
    @media screen   and (min-width: 450px) and (max-width: 767px) {
    
    margin-bottom: 60px;
    
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 60px;
      
    }
  }
  
  .footer__item {
    width: 44px;
    height: 44px;
  }
  
  .footer__item:not(:last-child) {
    margin-right: 10px;
  }
  

  
  .footer__link {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
  }
  
  
  .footer__link:hover,
  .footer__link:focus {
    
    background-color: var(--accent-color);
  }
  
  .footer__icon{
    fill: var(--color-color);
  }

  .footer-form__container{
 
    
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
  }
  
  .footer__input{
    display: inline-block;
    width: 450px;
    
    height: 50px;
    color: #ffffff;
    background-color: var(--background-color);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 16px;
    @media screen   and (min-width: 450px) and (max-width: 767px) {
      width: 63.686%;
      margin-bottom: 20px;

      width: 450px;
      height: 50px;
      
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 20px;
        margin-left: 151px;
        
      }

    @media screen and (min-width: 1200px) {
      width: 358px;
    }

  }
  .footer__input:focus{
    border: 1px solid var(--color-color);
  }
  .footer-form__bid{
  
    
  @media screen and (min-width: 1200px) {
    display: flex;
    
  }
  }
 

  .footer-form__bid .footer__input{
    padding-left: 16px;
  }
  .footer-form__more{
    right: 0;
  }

 