/*СТРАНИЦА ПОРТФОЛИО*/
.project{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen  and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
        
    }

    
}

.project__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px 8px;
    margin-bottom: 40px;
   
    @media screen and (max-width: 769px){
        flex-wrap: wrap;
    }
    @media screen and(min-width: 769px){
        margin-bottom: 30px; 
        justify-content:center;
    }
    @media screen and(min-width: 1200px){
        margin-bottom: 50px; 
        justify-content:center;
    }  
    }
    








 /*наши продукты*/ 

.gallery__box {
    display: flex;
    
     
} 
.gallery__item{
    @media screen and(min-width:769px)  and(max-width:1199px) {
        width: calc(( 100% - 30px ) / 2);
        
    }}


.gallery{
  display: flex;
  flex-wrap: wrap;
  gap:30px;
   
}

@media screen and(min-width: 1200px){
    

.gallery > .gallery__item{
width: calc(( 100% - 60px ) / 3);
border-bottom: 1px solid #EEEEEE;





}}


.gallery:nth-child(n+7)
{
  margin-bottom: 0;
}


.gallery__link{
    display:inline-block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    

}

.gallery__link:hover,
.gallery__link:focus{
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12),
    1px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__link:hover .gallery__paragraph{
  transform: translateY(0);
  opacity: 1;

}



.gallery__help{
    padding: 20px 24px 20px 24px;
     
}

  
.gallery__text {
    color: var(--title-text-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        margin-bottom: 4px;
        
}
        

.gallery__paragraph-portfolio{
    color: var(--primary-text-color);
        font-size: 16px;
        line-height: 1.9;
        

}








.gallery__conteiner {
   position: relative;
   overflow: hidden;
 
 
   
}
.gallery__paragraph{
position: absolute;
display: block;
width: 100%;
height: 100%;
top:0;
text-align: left;
left: 0;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
color: #FFFFFF;

background-color: rgba(33, 150, 243, 0.9);
padding: 63px 24px;

transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);



}

 
