 /*почему вибирают нас*/
.section-list{
    // padding-top: 94px;
    color:var(--primary-text-color);
}

 .section-list .content__title{
     color: var(--title-text-color); 
     text-transform: uppercase;

 }