/*--------------------------Form-----------------------------------*/
textarea{
    resize: none;
    width: 370px;
    height: 120px;
    padding: 0;
    border: 0;
    outline: none;
    display: block;
    @media screen and (min-width: 1200px) {
      width: 448px;
    }
    @media screen and (max-width:479px){
      max-width: 310px;
      
   
   }
   
 }
input{
width: 100%;
 border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px ;
outline: none;




}

.form__title{
    width: 100%;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
margin-bottom: 12px;

@media screen and (max-width:479px){

   font-size: 18px;
   padding-top: 10px;
   
}
 }


.form__label-comment {
  display: flex;
  text-align: left;
  margin-bottom: 4px;

}

 
.form__label{
  text-align: left;
  margin-bottom: 4px 

 }

 .form__container{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: #757575;
display: block;



 }



 .form__name{


    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    position: relative;
 
 
    
 }
 
 .form__name input:focus,
 
.form__textarea-placeholder:focus
 {
    border: 1px solid rgba(33, 150, 243, 1);
 }

 .form__textarea{
width: 448px;

}
.form__textarea-placeholder:hover,
.form__name input:hover{
  border: 1px solid rgba(33, 150, 243, 1);}


 .form__textarea-placeholder{
    
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .form__textarea .form__textarea-placeholder{
    padding: 12px 16px 12px 16px;


 }
 .form__text-treaty{
    color:rgba(33, 150, 243, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }
 .form__text{
    font-size: 14px;
    margin-left: 8px;
    line-height: 1.71;
    letter-spacing: 00.03em;
    @media screen and(max-width: 1199px){
      font-size: 12px;
      margin-left: 20px;
    }
    @media screen and (max-width:479px){
   
      font-size: 10px;
   
   }
 }
 .form__text-treaty{
     
    position: relative;
   

 }
 .form__text a::before{
    content: '';
    bottom: 2px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #2196F3;;
    @media screen and (max-width:768px){
   
      padding-bottom: 1px;
   
   }
  
 }



 .form__name input{
    height: 40px;
    
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
   
    
 }

 .form__icon{
    position: absolute;
    top: 70% ;
    left: 14px;
    display: inline-block;
    width: 18px;
    height: 18px;
    transform: translateY(-70%);
    fill: rgba(33, 33, 33, 1);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       
 }
 input:hover + .form__icon,
 input:focus + .form__icon{
    fill:rgba(33, 150, 243, 1);
 }

 .form__icon-check{
    display:inline-block;
    background-color:var(--color-color);
    width: 16px;
    height: 15px;
    left: 4px;

    position: absolute;

   border: 1px solid rgba(33, 33, 33, 1);
   align-items: center;
   justify-content: center;
   margin-right: 7px;
  
 
 }
  .checkbox:checked + .form__icon-check{
    background-color: #2196F3 ;

 }
 .form__checkbox{
    position: relative;
    margin-bottom: 30px;
    margin-top: 25px;

 }

   
.checkbox{
    left: 0;
}
 

 .form__checkbox{
    text-align: center;
    display:inline-block;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;

  
    width: 100%;
 

 }
 .form__icon-checkbox{
    width: 11px;
    height: 8px;

    margin-right: 7px;
   margin-left: 0;
   padding-left:0 ;


 }
 


 

  