.header{
    border-bottom: 25px;
    margin: 0;
    border-bottom: 1px solid #ECECEC ;
}
.nav {
    display: flex;
    align-items: center;   
}

 /* site-nav */
 .nav__list {
     display: flex;
 }
 .nav__list .nav__item{
     
     margin-right: 50px;
 }

 .nav__list .nav__item:last-child{
     margin-right: 0;
 }
 .nav__list .link {
     color: var(--title-text-color);

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;

        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
 }
 .nav__link.studio::after{
     content:"" ;
     position: absolute;
     left: 0;
     bottom: 0;

     display: block;
     width: 100%;
     height: 5px;
     background-color: var(--accent-color);
     border-radius: 2px;
    



 }
 .nav__link.studio:hover::after{
     display: block;

 }

 .link{
     position: relative;
 }
 .nav__link.portfolio::after{
    content:"" ;
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
    border-radius: 2px;
    opacity:0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);



}


.nav__link.we::after{
    content:"" ;
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
    border-radius: 2px;
    opacity:0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


 .nav__list .link:hover,
 .nav__list .link:focus {
     color: var(--accent-color);
 }
 .nav__item .nav__link.studio{
     color: #2196F3;
     
     
 }

 .nav__list.auth {
    display: flex;
    margin-left: auto;
 }
  
 .nav__link.auth {
    color:var(--primary-text-color);

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14; 

        padding-top: 32px;
        padding-bottom: 32px;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       
           
 }
 .nav__icon.mail{
    max-width: 16px;
     margin-right: 10px;
     fill: currentColor;
     
 }
 .nav__icon.phone{
     max-width: 10px;
     margin-right: 10px;
     fill: currentColor;
 }



 .nav__list.auth .nav__item + .nav__item{
     margin-left: 50px;
     

 }

 .nav__link.auth:hover,
 .nav__link.auth:focus{
     
     color: var(--accent-color);
 }